
<!-- Data Between (Parent -> Child & Child -> Parent) -->
 
<div class="container text-center">
    <div class="row m-2">
        <div class="col-12">
            <div class="text-warning">
                <h2>Example of 1&2 : (Parent -> Child & Child -> Parent)</h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="text-info">
                <h2>Parent Component</h2>
                <p>{{recievedMessage}}</p>
            </div>
        </div>
        <div class="vr p-0"></div>
        <div class="col-5">
            <app-child [childInputProperty]="ParentProperty"  (childOutputProperty)="recieveData($event)"></app-child>
        </div>
    </div>

    <hr>

<!-- Data Between Siblings -->

    <div class="row m-2">
        <div class="col-12">
            <div class="text-warning">
                <h2>Example of 3 : Data Between Siblings</h2>
            </div>
        </div>
    </div>
    <div class="row m-2">
        <div class="col-6">
            <app-sibling-1 (siblingEvent1)="recieveEvent1($event)" [sibling1InputData]="sibling1Data"></app-sibling-1>
        </div>
        <div class="vr p-0"></div>
        <div class="col-5">
            <app-sibling-2 [sibling2InputData]="sibling2Data" (siblingEvent2)="recieveEvent2($event)"></app-sibling-2>
        </div>
    </div>
<hr>
<!-- sharing data Between Parent -> Child via ViewChild() -->

    <div class="row m-2">
        <div class="col-12">
            <div class="text-warning">
                <h2>Example of 4 : (Parent -> Child via ViewChild())</h2>
            </div>
        </div>
    </div>
    <div class="col-12">
        <app-reusable #reusable></app-reusable>
    </div>



</div>