<!-- <p>structural-directive-ngswitch-vs-switch works!</p> -->
<div class="text-center">
    <div class="row col-12 m-2">
        <h3> *ngSwitch vs Switch</h3>
    </div>
</div>
<div class="text-center">
    <div class=" col-12 m-4">
        <button class="btn btn-success m-1" (click)="set(1)">1st Grade</button>
        <button class="btn btn-primary m-1" (click)="set(2)">1st Grade</button>
        <button class="btn btn-warning m-1" (click)="set(3)">1st Grade</button>
    </div>
    <!-- <div [ngSwitch]="grade">
        <div *ngSwitchCase="1">Congratulations on your Outstanding Acheivement - 1st Grade </div>
        <div *ngSwitchCase="2">Congratulations on your Acheivement - 2st Grade </div>
        <div *ngSwitchCase="3">Congratulations on your Acheivement - 3st Grade </div>
        <div *ngSwitchDefault="">No Result Found... </div>
    </div> -->

    @switch (grade) {
    @case (1) {
    Congratulations on your Outstanding Acheivement - 1st Grade
    }
    @case (2) {
    Congratulations on your Acheivement - 2st Grade
    }
    @case (3) {
    Congratulations on your Acheivement - 3st Grade
    }
    @default {
    No Result Found...
    }
    }
</div>