<div class="container w-50 mt-2">

    <app-reusable [childProperty]="parentProperty"></app-reusable>

    <form action="" class=" mt-5 p-5 mx-auto bg-info rounded-3" [formGroup]="updateUserForm" (ngSubmit)="onSubmit()">
        <h2 class="text-center m-2">Update-User</h2>
        <div class="form-group m-3">
            <label for="" class="form-label">Name : </label>
            <input type="text" class="form-control" placeholder="Enter the Name" formControlName="name">
        </div>
        <div class="form-group m-3">
            <label for="" class="form-label">User Name : </label>
            <input type="text" class="form-control" placeholder="Enter the username" formControlName="username">
        </div>
        <div class="form-group m-3">
            <label for="" class="form-label">Email : </label>
            <input type="text" class="form-control" placeholder="Enter the Email" formControlName="email">
        </div>
        <div class="text-center m-3">
            <button class="btn btn-success m-1">Update</button>
            <button class="btn btn-danger m-1" (click)="onCancel()">Cancel</button>
        </div>
    </form>
</div>