<!-- <p>user works!</p> -->
<app-dummy></app-dummy>

<div class="container d-flex justify-content-center mt-5" style="height: 100%;">
    <div class="text-center w-50 p-5 border border-secondary">
        <h3>User Login</h3><br>
        <label for="">UserName :</label>&nbsp;<input type="text" placeholder="Enter User Name"><br><br>
        <label for="">UserName :</label>&nbsp; <input type="text" placeholder="Enter User Name"><br><br>
        <!-- <button class="btn btn-primary" routerLink="/data-binding">Loging</button> -->
        <button class="btn btn-primary" (click)="login()">Loging</button>

    </div>
</div>