<div class="container w-50 mt-2">

    <app-reusable [childProperty]="parentProperty"></app-reusable>
    
    <div class=" text-center p-5 mt-5 mx-auto bg-secondary text-white">
        <div>
            <u>
                <h2>View User Information</h2>
            </u>
        </div>
        <div class=" text-start p-5">
            <h6>Name : <b>{{userData?.name}}</b></h6>
            <h6>User Name : <b>{{userData?.username}}</b></h6>
            <h6>Email : <b>{{userData?.email}}</b></h6>
        </div>
        <button class="btn btn-success" (click)="onClose()">Close</button>
    </div>
</div>