<div class="container">
    <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">

        <!-- <pre>Value : {{userForm.value | json}}</pre>
        <pre>Valid : {{userForm.valid}}</pre>        // validators required for this how it works to know
        <pre>InValid : {{userForm.invalid}}</pre>
        <pre>Touched : {{userForm.touched}}</pre>
        <pre>UnTouched : {{userForm.untouched}}</pre>
        <pre>submitted : {{userForm.submitted}}</pre> -->

        <h2 class="text-center mt-2"> TDF : User Information</h2>

        <div class="form-group m-2">
            <label for="">First Name</label>
            <input type="text" class="form-control" placeholder="Enter First Name" name="firstName" #fname="ngModel"
                [(ngModel)]="userObject.firstName" minlength="5" required>
            @if (fname?.dirty || fname?.touched) {
            @if (fname?.errors?.['required']) {
            <small class="text-danger">First Name is Required</small>
            }
            @if (fname?.errors?.['minlength']) {
            <small class="text-danger">The minimum length of the Firstname should be 5</small>
            }
            }
        </div>

        <div class="form-group m-2">
            <label for="">Last Name</label>
            <input type="text" class="form-control" placeholder="Enter Last Name" name="lastName" #lname="ngModel"
                [(ngModel)]="userObject.lastName" pattern="^[a-zA-Z]+$" maxlength="5" required>
            @if (lname?.dirty || lname?.touched) {
            @if (lname?.errors?.['required']) {
            <small class="text-danger">Last Name is Required</small>
            }
            @if (lname?.errors?.['pattern']) {
            <small class="text-danger">The Lastname does not match the required pattern</small>
            }
            }
        </div>

        <div class="form-group m-2">
            <label for="">Email</label>
            <input type="email" class="form-control" placeholder="Enter Email" name="email" #email="ngModel"
                [(ngModel)]="userObject.email" email required>
            @if (email?.dirty || email?.touched) {
            @if (email?.errors?.['required']) {
            <small class="text-danger">Email is Required</small>
            }
            @if (email?.errors?.['email']) {
            <small class="text-danger">Please Enter a Valid Email address</small>
            }
            }
        </div>

        <div class="form-group m-2">
            <label for="">Password</label>
            <input type="password" class="form-control" placeholder="Enter Password" name="pass"
                [(ngModel)]="userObject.pass">
        </div>
        <div class="form-check m-2">
            <input type="checkbox" class="form-check-input" name="isCheck" [(ngModel)]="userObject.isCheck">
            <label for="">Check Me Out</label>
        </div>
        <button class="btn btn-success m-2" [disabled]="!userForm.valid">Submit Values</button>
        <!-- <button class="btn btn-success m-2" disabled="userForm.invalid">Submit Values</button> -->
        <!-- <button class="btn btn-warning m-2" (click)="setValues(userForm)">Set Values</button> -->
        <button class="btn btn-primary m-2" (click)="patchValues(userForm)">Patch Values</button>
        <!-- <button class="btn btn-info m-2" (click)="resetValues(userForm)">Reset Values</button> -->
    </form>

</div>